.Rproj.user
.Rhistory
.RData
.Rapp.history
*.rds

/*_cache
/*_files
tmp-pdfcrop-*
/figures

# compiled data
/bookdown*

# intermediate Markdown files
*.utf8.md
*.knit.md
/*.md
!README.md
!style.md

# Remove downloaded files
UNpop.dta
UNpop.csv
node_modules
